.dragging-rightClick-selector {
  position: relative;
  height: 100%;

}
.dragging-rightClick-input {
  position: relative;
  height: 100%;

}
.dragging-rightClick-textarea {
  position: relative;
  height: 3.5rem;
}