.dragging-icon-rightClick-manu {
  position: absolute;
  height: 10em;
  width: 6em;
  background-color: #FFF;
  border: 0.1em #000 solid;
  z-index: 10;
}

.dragging-icon-rightClick-manu-bg {
  position: absolute;
  height: 98%;
  width: 98%;
  z-index: 9;
}

