#dragging-frame {
  position: absolute;
  display: block;
  width: 50rem;
  height: 30rem;
  border: 0.1em #000 solid;
}
#dragging-frame-side {
  position: absolute;
  top: 11%;
  width: 20%;
  height: 89%;
  border: 0.1em #AAA solid;
}
#dragging-frame-main {
  position: absolute;
  top: 11%;
  left: 20%;
  width: 80%;
  height: 89%;
  border: 0.1em #AAA solid;
}

#dragging-frame-toolsBar {
  position: absolute;
  border: 0.1em #AAA solid;
  height: 10%;
  width: 100%;
  left: -0.1em;
}