.dragging-database {
  position: absolute;
  border-left: 0.1rem #000 solid;
  border-right: 0.1rem #000 solid;
  margin: 2rem;
  width: 3rem;
  height: 2rem;
}

// Top oval
.dragging-database::before {
  content: '';
  display: block;
  width: 3rem;
  height: 1rem;
  margin-left: -0.1rem;
  margin-top: -0.6rem;
  border-radius: 50%;
  border: 0.1rem #000 solid;
}

// foot oval
.dragging-database::after {
  content: '';
  display: block;
  width: 3rem;
  height: 1rem;
  margin-left: -0.1rem;
  margin-top: 0.7rem;
  border-radius: 50%;
  border: 0.1rem #000 solid;
}