.dragging-icon {
  position: relative;
  margin-top: 0.5rem;
  height: 3rem;
}
.dragging-icon-main-title {
  position: relative;
  font-size: 0.9em;
  text-align: center;
  padding-top: 0.4em;
}
.dragging-icon-sub-title {
  position: relative;
  font-size: 0.8em;
  text-align: center;
  padding-top: 0.4em;
  color: #666;
}