.dragging-icon-frame {
  position: absolute;
  height: 4rem;
  width: 4rem;
  border: 0.1rem #000 solid;
  z-index: 5;
}

.dragging-icon-connecting-point {
  position: absolute;
  height: 0.5rem;
  width: 0.5rem;
  border: 0.05rem #777 solid;
  border-radius: 50%;
  margin-left: -0.25rem;
  margin-top: -0.25rem;
}

.dragging-icon-connecting-point-position-in {
  top: -2%;
  background-color: #777;
}
.dragging-icon-connecting-point-position-out {
  top: 100%;
}