.dragging-icon-frame {
  position: absolute;
  height: 4rem;
  width: 4rem;
  border: 0.1rem #000 solid;
}

.dragging-icon-connecting-point {
  position: absolute;
  height: 0.5rem;
  width: 0.5rem;
  border: 0.05rem #777 solid;
  border-radius: 50%;
  margin-left: -0.25rem;
  margin-top: -0.25rem;
}

.dragging-icon-connecting-point-position-0 {
  left: 50%;
  top: 0;
}
.dragging-icon-connecting-point-position-1 {
  left: 100%;
  top: 50%;

}
.dragging-icon-connecting-point-position-2 {
  left: 50%;
  top: 100%;
}
.dragging-icon-connecting-point-position-3 {
  left: 0;
  top: 50%;
}